html{
  font-family: sans-serif;
  background-color: #fff2cf;
}

head{
  /*none*/
}

header{
  /*none*/
}

footer{
  /*none*/
}

main{

}

div.top{
  float: left;
  display: block;
  position: relative;
  background: #b2fcbf;
  width: 81%;
  z-index: 1;
  height: 158px;

  margin-top: 1%;
  margin-left: 1%;

  text-align: center;

  border: 3px solid black;
}

header.title > h1{

  position: relative;
  color: black;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-right: 25px;

  text-align: center;
}

div{

}


div.main-content{
  float: left;

  margin-top: 1%;
  margin-left: 1%;
  position: relative;
  color: black;
  z-index: 0;
  width: 80%;
  border: 2px solid black;
  padding: 10px;

  display: inline;

  background-color: #ffb9b9;

  border: 3px solid black;

}

div.sidebar{
  float: left;
  position: relative;

  margin-top: 1%;
  margin-left: 1%;

  width: 11.5%;

  display: inline;

  background-color: #bbe7f9;

  border: 3px solid black;

}


form {
  position: relative;
}

h1{
  font-size: 40pt
}

h2{
  font-size: 20pt;
}

h3{
  font-size: 15pt;
}

h5.sidebar-title{
  text-align: center;
  text-decoration: none;
  padding: 2px;
}

li{
  list-style: none;
  border: 2px solid black;
  position: relative;
  width: 80%;
  align-self: center;
  margin-left: 5%;
  margin-top: 5%;
  padding: 5px;
  margin-bottom: 5%;
  display: inline-block;

}

li:hover {
  background-color: #5e6a71;
}

li > a {
  position: relative;
  text-decoration: none;
  text-align: center;
  list-style: none;

  display: block;
}

li > a:hover {
  color: white;
}

button{
  list-style: none;
  border: 2px solid black;
  position: relative;
  width: 20%;
  align-self: center;
  margin-left: 0%;
  margin-top: 5%;
  padding: 5px;
  margin-bottom: 5%;
  display: inline-block;
  background-color: white;
  font-size: 12pt;
}

button:hover {
  background-color: #5e6a71;
}

article h3 {
  float: left;
  display: inline-block;
}

article div {
  display: inline;
}

article li {
  display: inline;
}

p {
  font-size: 50pt;
}

img{
  /*border: 2px solid white;
  border-radius: 10px;*/
  padding: 4px;
  margin: ;
}

img.img-logo{
  float: left;
  display: inline-block;
  border: 3px solid black;
  height: 150px;
  width: 11%;
  margin-top: 1%;
  margin-left: 1%;
}
